* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Proxima Nova", sans-serif;
  background: url("../assets/img/bg.jpeg");
}
body:after {
  content: url("../assets/img/space.png");
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1622px) {
  body::after {
    content: url("../assets/img/space-1622.png");
  }
}
@media screen and (max-width: 960px) {
  body::after {
    content: url("../assets/img/space-960.png");
  }
}
@media screen and (max-width: 660px) {
  body::after {
    right: 0;
    content: url("../assets/img/space-660.png");
  }
}

.home {
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  padding-top: 53px;
  position: relative;
  z-index: 2;
}
.main__wrapper {
  display: flex;
  margin-bottom: 33px;
}
@media screen and (max-width: 1622px) {
  .main {
    padding-top: 33px;
    display: flex;
    justify-content: center;
  }
  .main__wrapper {
    flex-direction: column;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 960px) {
  .main {
    padding-top: 33px;
  }
}

.container {
  padding-left: 64px;
  max-width: 1500px;
}

@media screen and (max-width: 1622px) {
  .container {
    padding-left: 97px;
    padding-right: 97px;
    max-width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .container {
    padding-left: 50px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 660px) {
  .container {
    padding-left: 19px;
    padding-right: 25px;
    max-width: 100%;
  }
}
.icon-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 59px;
  margin-right: 119px;
}
.icon-list__telegram {
  transition: 0.3s;
}
.icon-list__telegram:hover {
  transition: 0.3s;
  transform: rotate(-5deg);
}
@media screen and (max-width: 1622px) {
  .icon-list__wrapper {
    -moz-column-gap: 36px;
         column-gap: 36px;
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 26px;
  }
}

.cards__wrapper {
  -moz-column-gap: 44px;
       column-gap: 44px;
  display: flex;
}
.cards__card {
  justify-content: space-between;
  cursor: pointer;
  width: 640px;
  display: flex;
  padding: 32px;
  border-radius: 61px;
  box-shadow: 1px 1px 0px 0px rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.97);
}
.cards__card:hover .cards__next {
  transition: all 0.3s ease-in-out;
}
.cards__card:hover .cards__next path {
  transition: all 0.3s ease-in-out;
  stroke: white;
}
.cards__card:hover .cards__next line {
  transition: all 0.3s ease-in-out;
  stroke: white;
}
.cards__card:hover .cards__fill {
  transition: all 0.3s ease-in-out;
  transform: scale(400, 400);
  fill: #303030;
}
.cards__card-wrapper {
  width: 80%;
  flex-direction: column;
  display: flex;
}
.cards__image-wrapper {
  width: -moz-fit-content;
  width: fit-content;
}
.cards__next {
  transition: all 0.3s ease-in-out;
  width: 80px;
  transition: 0.5s;
}
.cards__fill {
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  fill: #303030;
}
.cards__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 53.59px;
  margin-bottom: 20px;
}
.cards__description {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}
.cards__image {
  width: 113%;
  height: 284px;
}
@media screen and (max-width: 1622px) {
  .cards__card {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 38.13px;
    box-shadow: 0.63px 0.63px 0px 0px rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.97);
  }
  .cards__title {
    font-size: 27px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 12px;
  }
  .cards__description {
    font-weight: 400;
    font-size: 12.5px;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .cards__image {
    width: 360.31px;
    height: 177.5px;
  }
  .cards__next {
    transform: translateY(-30%);
    width: 50px;
  }
}
@media screen and (max-width: 960px) {
  .cards__card {
    max-width: 667px;
  }
  .cards__wrapper {
    row-gap: 27px;
    flex-direction: column;
  }
  .cards__text-wrapper {
    margin-right: 20px;
  }
  .cards__card-wrapper {
    width: 100%;
    flex-direction: row;
  }
  .cards__image {
    width: 360px;
    height: 100%;
  }
}
@media screen and (max-width: 660px) {
  .cards__card-wrapper {
    min-width: 80%;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .cards__image {
    width: 254px;
  }
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on June 21, 2017 9:51 AM */
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-LightIt.eot");
  src: local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url("./fonts/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-LightIt.woff") format("woff"), url("./fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("./fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Extrabld.woff") format("woff"), url("./fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Regular.woff") format("woff"), url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("./fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Semibold.woff") format("woff"), url("./fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-ThinIt.eot");
  src: local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url("./fonts/ProximaNova-ThinIt.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-ThinIt.woff") format("woff"), url("./fonts/ProximaNova-ThinIt.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-SemiboldIt.eot");
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url("./fonts/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-SemiboldIt.woff") format("woff"), url("./fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("./fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-RegularIt.woff") format("woff"), url("./fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Black.woff") format("woff"), url("./fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Bold.woff") format("woff"), url("./fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNovaT-Thin.eot");
  src: local("Proxima Nova Thin"), local("ProximaNovaT-Thin"), url("./fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNovaT-Thin.woff") format("woff"), url("./fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("./fonts/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-BoldIt.woff") format("woff"), url("./fonts/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-ExtrabldIt.eot");
  src: local("Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"), url("./fonts/ProximaNova-ExtrabldIt.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-ExtrabldIt.woff") format("woff"), url("./fonts/ProximaNova-ExtrabldIt.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("./fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Light.woff") format("woff"), url("./fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-BlackIt.eot");
  src: local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url("./fonts/ProximaNova-BlackIt.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-BlackIt.woff") format("woff"), url("./fonts/ProximaNova-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
  z-index: 2;
}
.footer::after {
  position: absolute;
  content: "";
  background: rgb(244, 244, 244);
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 100% 100% 0 0;
  z-index: 1;
}
.footer__main-wrapper {
  position: relative;
  z-index: 2;
  transform: translate(-7%, -5%);
}
.footer__wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer__semechka-wrapper.first::before {
  content: "";
  position: absolute;
  background: black;
  bottom: -100%;
  left: -15%;
  width: 14px;
  height: 3px;
  border-radius: 50px/10px;
  display: block; /*adjust as needed*/
}
.footer__semechka-wrapper.second::before {
  content: "";
  position: absolute;
  background: black;
  bottom: -100%;
  left: 25%;
  width: 22px;
  height: 5px;
  border-radius: 50px/10px;
  display: block; /*adjust as needed*/
}
.footer__text {
  width: 396.49px;
  transform: rotate(4.13deg);
  padding: 24px;
  border-radius: 24px;
  box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
.footer__right .footer__text {
  position: relative;
  width: 235px;
  transform: rotate(-2.07deg);
}
.footer__right .footer__text::after {
  top: 95%;
  right: 60%;
  position: absolute;
  content: url("../assets/img/flash2.png");
}
.footer__left .footer__text::after {
  top: 100%;
  right: 5%;
  position: absolute;
  content: url("../assets/img/flash.png");
}
.footer__image-wrapper {
  margin-right: 129px;
  margin-left: 52px;
  position: relative;
}
.footer__image-wrapper::after {
  position: absolute;
  top: 25%;
  right: -25%;
  bottom: 0;
  content: url("../assets/img/semechka.png");
  display: block; /*adjust as needed*/
}
.footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__copyright, .footer__number {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.footer__semechka-wrapper.first {
  position: absolute;
  top: 85%;
  left: -30%;
}
.footer__semechka-wrapper.second {
  position: absolute;
  top: 92%;
  left: 110%;
}
@media screen and (max-width: 1622px) {
  .footer {
    padding-bottom: 0;
  }
  .footer__text {
    width: 300px;
    padding: 12px;
    font-size: 12px;
  }
  .footer__image {
    width: 148px;
    height: 195px;
  }
  .footer__main-wrapper {
    transform: translate(-5%, -5%);
  }
  .footer__right .footer__text {
    position: relative;
    width: 160px;
    transform: rotate(-2.07deg);
  }
  .footer__right .footer__text::after {
    top: 39%;
    right: 40%;
    transform: scale(0.4);
    position: absolute;
    content: url("../assets/img/flash2.png");
  }
  .footer__image-wrapper::before {
    transform: translateX(5px);
    left: 150%;
  }
  .footer__semechka-wrapper.first::before {
    bottom: -55%;
    left: -15%;
  }
  .footer__semechka-wrapper.second::before {
    bottom: -60%;
    left: 25%;
  }
  .footer__left .footer__text::after {
    top: 100%;
    right: 5%;
    position: absolute;
    content: url("../assets/img/flash.png");
  }
  .footer__left .footer__text::before {
    bottom: -110%;
    left: 95%;
  }
  .footer__copyright, .footer__number {
    font-size: 14px;
  }
  .footer__semechka-wrapper.first {
    top: 90%;
    left: -45%;
  }
  .footer__semechka-wrapper.second {
    top: 80%;
    left: 157%;
  }
}
@media screen and (max-width: 960px) {
  .footer {
    padding-bottom: 0;
  }
  .footer__image-wrapper {
    margin-left: 28px;
    margin-right: 42px;
  }
  .footer__text {
    width: 200px;
  }
  .footer__copyright, .footer__number {
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
  }
  .footer__left .footer__text::before {
    bottom: -75%;
    left: 95%;
  }
  .footer__left {
    transform: translateY(-20%);
  }
  .footer__right .footer__text::after {
    right: 30%;
  }
  .footer__semechka-wrapper.first::after {
    left: 31%;
  }
  .footer__semechka-wrapper.second::before {
    bottom: -55%;
    transform: translateX(5px);
  }
  .footer__image-wrapper::before {
    transform: scale(0.7);
    left: 105%;
  }
  .footer__semechka-wrapper.first {
    top: 90%;
    left: -25%;
    transform: scale(0.8);
  }
  .footer__semechka-wrapper.second {
    top: 85%;
    left: 100%;
    transform: scale(0.8);
  }
  .footer::after {
    border-radius: 20% 20% 0 0;
  }
}
@media screen and (max-width: 660px) {
  .footer {
    padding-bottom: 0;
  }
  .footer::after {
    border-radius: 10% 10% 0 0;
    width: 100%;
    height: 100%;
  }
  .footer__image {
    width: 120px;
    height: 160px;
  }
  .footer__image-wrapper {
    margin-right: 0;
    margin-left: 0;
  }
  .footer__main-wrapper {
    transform: translate(0%, -5%);
  }
  .footer__wrapper {
    align-items: normal;
  }
  .footer__text {
    padding: 9px;
    font-size: 9px;
    width: 138px;
  }
  .footer__left {
    transform: translateX(10%);
  }
  .footer__right {
    z-index: 1;
    transform: translateX(-15%);
  }
  .footer__left .footer__text::after {
    transform: scale(0.8);
    top: 88%;
    right: 30%;
  }
  .footer__left .footer__text::before {
    bottom: -100%;
    left: 65%;
  }
  .footer__semechka.second::after {
    bottom: 20%;
    left: 30%;
  }
  .footer__right .footer__text {
    transform: translateY(70%);
    width: 100px;
  }
  .footer__right .footer__text::after {
    content: url("../assets/img/flash-mobile.png");
    transform: scale(1);
    top: 95%;
    right: 40%;
  }
  .footer__image-wrapper::after {
    left: 90%;
    top: 10%;
    z-index: 2;
  }
  .footer__image-wrapper::before {
    top: 70%;
    left: 90%;
    z-index: 2;
  }
  .footer__semechka.first::before {
    left: 70%;
    top: 85%;
    transform: translateX(0);
  }
  .footer__semechka-wrapper.first {
    top: 60%;
    left: -30%;
    transform: scale(0.8);
  }
  .footer__semechka-wrapper.second {
    transform: scale(0.6);
    top: 75%;
    left: 90%;
  }
}/*# sourceMappingURL=style.css.map */